.container__music {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: white;
  padding: var(--padding);
  border-radius: var(--border-radius);
  overflow-y: scroll;
}

.music-list-box__list-header {
  margin: 0.938rem auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.song-info-box__album-cover-box img {
  border-radius: 10px;
  width: 2.5rem;
}

.list-header__user-img-outer {
  border-radius: 50%;
  padding: 1rem;
  box-shadow: var(--box-shadow);
  background: var(--gradient-background);
}

.list-header__user-img {
  width: 2.5rem;
  height: 2.5rem;
}

.list-header__user {
  font-size: var(--large-font);
  font-weight: 600;
  margin-top: 1.2rem;
}

.list-header__song-genre {
  font-size: var(--basic-font);
  margin-top: 1rem;
}

/* List Buttons */

.music-list-box__button-box {
  display: flex;
  justify-content: space-around;
  margin: 0.4rem 0;
}

.button-box__shuffle-btn {
  background-color: var(--purple);
  color: whitesmoke;
}

/* Song List */

.music-list-box__song-list {
  display: flex;
  flex-direction: column;
}

.music-list-box__song-box {
  display: flex;
  align-items: center;
  margin: 0.5rem 0;
  border-radius: 1.25rem;
  padding: 0.625rem;
  justify-content: space-between;
}

.song-box__song-info-box {
  display: flex;
  align-items: center;
}

.song-info-box__album-cover-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.song-info-box__album-cover-box i {
  position: absolute;
  color: #fafafa;
  display: none;
}

.play-now-box {
  box-shadow: 0px 0px 20px 2px #c9c9c9;
}

.play-now img {
  filter: brightness(50%);
}

.play-now > i {
  display: flex;
}

.song-info-box__song-description {
  display: flex;
  flex-direction: column;
  margin-left: 0.625rem;
  justify-content: space-between;
  font-weight: 600;
}

.song-description__song-artist {
  color: var(--text-gray);
  margin-bottom: 10px;
  font-size: var(--small-font);
}

.song-description__song-title {
  font-weight: 700;
  font-size: var(--basic-font);
}

/* Music List Contorll Box */

.music-list-box__controll-box {
  position: sticky;
  bottom: 0;
  background: var(--gradient-background);
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  align-items: center;
  border-radius: 30px;
  box-shadow: var(--box-shadow);
}

.controll-box__controll-song-description {
  display: flex;
  flex-direction: column;
  font-weight: 600;
  justify-content: space-between;
}

.controll-song-description__song-artist {
  font-size: var(--small-font);
  color: var(--gray);
  margin-bottom: 0.625rem;
}

.controll-song-description__song-title {
  color: white;
  font-size: var(--basic-font);
}

.controll-box__controll-icon i {
  margin-left: 30px;
  color: #fff;
}
